:root {
  --background-color: #6136BC;
  --primary-color: #2C0088;
  --seconday-color: #b433ff;
  --title-color: #6136BC;
  --background: rgb(247, 247, 247);
  --orange: #F4B367;
  --warning-red: rgb(253, 103, 103);
}

html, body {
  margin: 0;
  height: 100vh;
}

h1,h2,h3,h4,h5,form {
  margin: 0;
  padding: 0;
}


body {

  background-color: var(--background-color);
  background-image: url('./pattern.png');
  /* background-repeat: repeat-y; */
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  margin: 0;
  padding: 16px 0px;
  color: white;
}


.no-select {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
