ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 0.6rem 4rem;
  box-sizing: border-box;
}

li {
  float: left;
  margin-right: 1.5rem;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

li:first-of-type {
  font-weight: bold;
}

li:hover {
  border-bottom: 1px solid white;
}

.split {
  float: right;
  margin-right: 0;
}