.button {
  border: none;
  border-radius: 12px;
  padding: 0.8rem;  
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 700;
  min-height: 24px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  border: none;
  outline: none;
  opacity: 80%;
}

.button:focus {
  outline: none;
  outline-offset: -4px;
}

.button:active {
  transform: scale(0.99);
}

.button--primary {
  background: var(--seconday-color);
}

.button--secondary {
  background-color: var(--orange);
}